body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(10deg, rgb(255, 255, 255), rgb(209, 217, 236));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Altera para flex-start */
  align-items: center;
  margin: 0;
  padding: 0 20px; /* Adiciona padding para evitar que o conteúdo encoste nas bordas */
  box-sizing: border-box; /* Garante que o padding seja incluído na largura total */
}

.header-container {
  width: 100%;
  background-color: #003366;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.header-container h1 {
  font-size: 2.5em;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 600px; /* Reduz ainda mais a largura máxima */
  padding: 15px; /* Ajusta o padding */
  background-image: linear-gradient(50deg, rgb(230, 234, 247), rgb(214, 221, 255));
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px; /* Adiciona margem inferior para separar do footer */
  box-sizing: border-box;
  flex: 0 1 auto; /* Ajusta o flex para evitar que o container cresça demais */
}

h2 {
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  background-color: #003366;
  color: aliceblue;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 50px;
  border: none;
}

.button:hover {
  background-color: #001f4d;
  color: white;
}

.footer-container {
  width: auto; /* Ajusta a largura do footer */
  background-color: #003366;
  color: white;
  padding: 10px 20px; /* Ajusta o padding para dar mais espaço */
  text-align: center;
  position: fixed; /* Torna o footer fixo */
  bottom: 10px; /* Posiciona o footer a 10px do fundo */
  right: 10px; /* Posiciona o footer a 10px da direita */
  border-radius: 5px; /* Adiciona bordas arredondadas */
}

.footer-container p {
  margin: 0;
}